/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, /Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 3, /users/roberto/Proyectos/invoice/app/stylesheets/_grid.sass */
#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 6, /users/roberto/Proyectos/invoice/app/stylesheets/_grid.sass */
#wrapper #header {
  overflow: hidden;
}
/* line 8, /users/roberto/Proyectos/invoice/app/stylesheets/_grid.sass */
#wrapper #header .logo {
  float: left;
  width: 289px;
}
/* line 11, /users/roberto/Proyectos/invoice/app/stylesheets/_grid.sass */
#wrapper #header .buttons {
  float: left;
  width: 400px;
}
/* line 15, /users/roberto/Proyectos/invoice/app/stylesheets/_grid.sass */
#wrapper #views {
  overflow: hidden;
  overflow: hidden;
  *zoom: 1;
}
/* line 18, /users/roberto/Proyectos/invoice/app/stylesheets/_grid.sass */
#wrapper #views #sideView {
  float: left;
  border-right: 1px solid #666666;
  height: 400px;
  width: 309px;
}
/* line 23, /users/roberto/Proyectos/invoice/app/stylesheets/_grid.sass */
#wrapper #views #sideView > *:not(.active) {
  display: none;
}
/* line 27, /users/roberto/Proyectos/invoice/app/stylesheets/_grid.sass */
#wrapper #views #mainView {
  float: left;
  width: 650px;
  height: 400px;
}
/* line 31, /users/roberto/Proyectos/invoice/app/stylesheets/_grid.sass */
#wrapper #views #mainView .panel_content {
  height: 326px;
  overflow: hidden;
}
/* line 37, /users/roberto/Proyectos/invoice/app/stylesheets/_grid.sass */
#wrapper #views #mainView .panel .selectedItems {
  height: 350px;
}
/* line 39, /users/roberto/Proyectos/invoice/app/stylesheets/_grid.sass */
#wrapper #views #mainView .panel .selectedItems.cart {
  height: 322px;
}
/* line 41, /users/roberto/Proyectos/invoice/app/stylesheets/_grid.sass */
#wrapper #views #mainView .panel .selectedItems.pending {
  height: 352px;
}
/* line 43, /users/roberto/Proyectos/invoice/app/stylesheets/_grid.sass */
#wrapper #views #mainView .panel .selectedItems.history {
  height: 350px;
}
/* line 45, /users/roberto/Proyectos/invoice/app/stylesheets/_grid.sass */
#wrapper #views #mainView .panel .selectedItems.chatter {
  height: 350px;
}
/* line 47, /users/roberto/Proyectos/invoice/app/stylesheets/_grid.sass */
#wrapper #views #mainView > div:not(.active) {
  display: none;
}

/* line 1, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
body {
  background-color: white;
}

/* line 5, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper {
  margin-bottom: 20px;
  border: 1px solid #999999;
}
/* line 9, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper #header {
  background-color: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(40%, #4d4d4d), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#333333, #4d4d4d 40%, #333333);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#333333, #4d4d4d 40%, #333333);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#333333, #4d4d4d 40%, #333333);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#333333, #4d4d4d 40%, #333333);
  -moz-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #f9f9f9;
  padding: 10px;
}
/* line 13, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper #header .logo {
  color: white;
  width: 300px;
  border-right: 1px solid rgba(33, 33, 33, 0.4);
}
/* line 18, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper #header .buttons {
  overflow: hidden;
  margin-left: 10px;
}
/* line 21, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper #header .buttons li {
  background-color: #afb3c0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5d6e96), color-stop(40%, #7a89ac), color-stop(100%, #5d6e96));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  -moz-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  font-size: 13px;
  padding: 4px;
  border: 1px solid white;
  color: white;
  text-align: center;
  float: left;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}
/* line 25, /users/roberto/Proyectos/invoice/app/stylesheets/_baseGrid.sass */
#wrapper #header .buttons li:hover {
  background-color: #afb3c0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #364057), color-stop(40%, #495777), color-stop(100%, #364057));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#364057, #495777 40%, #364057);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#364057, #495777 40%, #364057);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#364057, #495777 40%, #364057);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#364057, #495777 40%, #364057);
  -moz-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
}
/* line 27, /users/roberto/Proyectos/invoice/app/stylesheets/_baseGrid.sass */
#wrapper #header .buttons li.active {
  background-color: #afb3c0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(40%, #14171f), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#000000, #14171f 40%, #000000);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#000000, #14171f 40%, #000000);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#000000, #14171f 40%, #000000);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#000000, #14171f 40%, #000000);
  -moz-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
}
/* line 26, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper #header .buttons li a {
  text-decoration: none;
  color: white;
}
/* line 30, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper #views #sideView {
  background-color: white;
}
/* line 33, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper #views #mainView {
  background-color: white;
}
/* line 37, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .list .searchBox {
  background-color: #afb3c0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5d6e96), color-stop(40%, #7a89ac), color-stop(100%, #5d6e96));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  -moz-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  padding: 11px;
}
/* line 40, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .list .searchBox input {
  height: 28px;
  width: 200px;
}
/* line 44, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .list .search_items {
  overflow: scroll;
  height: 400px;
}
/* line 47, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .list .search_items li {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 13px;
  overflow: hidden;
  *zoom: 1;
  padding: 10px 8px 10px 8px;
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-transform: capitalize;
  border-bottom: 1px solid #666666;
  background-color: #afb3c0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#ffffff, #efefef);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#ffffff, #efefef);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#ffffff, #efefef);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#ffffff, #efefef);
  -moz-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
}
/* line 61, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .list .search_items li .name {
  font-size: 13px;
  display: block;
  margin-bottom: 3px;
  border-bottom: 1px solid rgba(66, 66, 66, 0.2);
}
/* line 66, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .list .search_items li .info {
  font-size: 12px;
  overflow: hidden;
  display: block;
}
/* line 71, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .list .search_items li .info .s {
  width: 50px;
  float: left;
  margin-right: 8px;
}
/* line 76, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .list .search_items li .info .m {
  width: 65px;
  margin-right: 8px;
  float: left;
}
/* line 81, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .list .search_items li:hover {
  background-color: #afb3c0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3b3b3), color-stop(100%, #999999));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#b3b3b3, #999999);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#b3b3b3, #999999);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#b3b3b3, #999999);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#b3b3b3, #999999);
  -moz-box-shadow: inset 0px 15px 5px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 15px 5px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 15px 5px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 15px 5px rgba(255, 255, 255, 0.2);
}
/* line 87, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 89, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .panel_header {
  border-bottom: 1px solid #f9f9f9;
  text-align: left;
  background-color: #afb3c0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3b3b3), color-stop(100%, #999999));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#b3b3b3, #999999);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#b3b3b3, #999999);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#b3b3b3, #999999);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#b3b3b3, #999999);
  -moz-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  overflow: hidden;
  *zoom: 1;
}
/* line 96, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .panel_header span {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px;
  text-transform: capitalize;
}
/* line 101, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .panel_header h6 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px;
  width: 100px;
  font-size: 10px;
}
/* line 108, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .selectedItems {
  display: block;
  border-top: 1px solid #666666;
  overflow: auto;
}
/* line 113, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .selectedItems li {
  padding: 10px 10px 5px 15px;
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-transform: capitalize;
  background-color: white;
  border-bottom: 1px solid #efefef;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 123, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .selectedItems li .name {
  float: left;
  overflow: hidden;
  width: 350px;
}
/* line 127, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .selectedItems li .name .lineSmall {
  display: block;
  font-size: 12px;
}
/* line 130, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .selectedItems li .name .lineBig {
  font-size: 14px;
  font-weight: bold;
}
/* line 134, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .selectedItems li .info {
  float: left;
  overflow: hidden;
  width: 200px;
}
/* line 138, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .selectedItems li .info span {
  font-size: 13px;
  float: left;
  text-align: center;
  width: 50px;
  margin-right: 10px;
}
/* line 145, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .selectedItems li .buttons {
  visibility: hidden;
  overflow: hidden;
  float: left;
  width: 50px;
}
/* line 151, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .selectedItems li .buttons .liButton {
  font-size: 12px;
  width: 40px;
  margin-bottom: 5px;
  float: left;
  background-color: #afb3c0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5d6e96), color-stop(40%, #7a89ac), color-stop(100%, #5d6e96));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  -moz-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  font-size: 13px;
  padding: 4px;
  border: 1px solid white;
  color: white;
  text-align: center;
  float: left;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 25, /users/roberto/Proyectos/invoice/app/stylesheets/_baseGrid.sass */
#wrapper .panel .selectedItems li .buttons .liButton:hover {
  background-color: #afb3c0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #364057), color-stop(40%, #495777), color-stop(100%, #364057));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#364057, #495777 40%, #364057);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#364057, #495777 40%, #364057);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#364057, #495777 40%, #364057);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#364057, #495777 40%, #364057);
  -moz-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
}
/* line 27, /users/roberto/Proyectos/invoice/app/stylesheets/_baseGrid.sass */
#wrapper .panel .selectedItems li .buttons .liButton.active {
  background-color: #afb3c0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(40%, #14171f), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#000000, #14171f 40%, #000000);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#000000, #14171f 40%, #000000);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#000000, #14171f 40%, #000000);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#000000, #14171f 40%, #000000);
  -moz-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
}
/* line 158, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .selectedItems li .liInput {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
}
/* line 161, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .selectedItems li .liInput.small {
  width: 25px;
}
/* line 164, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .selectedItems li:hover {
  background-color: #333333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d5d5d5), color-stop(40%, #efefef), color-stop(100%, #d5d5d5));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#d5d5d5, #efefef 40%, #d5d5d5);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#d5d5d5, #efefef 40%, #d5d5d5);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#d5d5d5, #efefef 40%, #d5d5d5);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#d5d5d5, #efefef 40%, #d5d5d5);
  -moz-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
}
/* line 166, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .selectedItems li:hover .buttons {
  visibility: visible;
}
/* line 169, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel input.login {
  height: 33px;
  width: 250px;
  margin: 50px;
  display: block;
  font-size: 13px;
}
/* line 176, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel input.big_box {
  margin: 10px;
  width: 620px;
  height: 30px;
}
/* line 181, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .panel_footer {
  height: 41px;
  background-color: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(40%, #4d4d4d), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#333333, #4d4d4d 40%, #333333);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#333333, #4d4d4d 40%, #333333);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#333333, #4d4d4d 40%, #333333);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#333333, #4d4d4d 40%, #333333);
  -moz-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  display: block;
  padding: 10px;
  overflow: hidden;
  color: white;
}
/* line 188, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .panel_footer .buttons {
  overflow: hidden;
  float: left;
  width: 470px;
}
/* line 192, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .panel_footer .buttons .button {
  float: left;
  background-color: #afb3c0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5d6e96), color-stop(40%, #7a89ac), color-stop(100%, #5d6e96));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#5d6e96, #7a89ac 40%, #5d6e96);
  -moz-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  font-size: 13px;
  padding: 4px;
  border: 1px solid white;
  color: white;
  text-align: center;
  float: left;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 25, /users/roberto/Proyectos/invoice/app/stylesheets/_baseGrid.sass */
#wrapper .panel .panel_footer .buttons .button:hover {
  background-color: #afb3c0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #364057), color-stop(40%, #495777), color-stop(100%, #364057));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#364057, #495777 40%, #364057);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#364057, #495777 40%, #364057);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#364057, #495777 40%, #364057);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#364057, #495777 40%, #364057);
  -moz-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
}
/* line 27, /users/roberto/Proyectos/invoice/app/stylesheets/_baseGrid.sass */
#wrapper .panel .panel_footer .buttons .button.active {
  background-color: #afb3c0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(40%, #14171f), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#000000, #14171f 40%, #000000);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#000000, #14171f 40%, #000000);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), -o-linear-gradient(#000000, #14171f 40%, #000000);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0)), linear-gradient(#000000, #14171f 40%, #000000);
  -moz-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.2);
}
/* line 196, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .panel_footer .label {
  padding-top: 5px;
  width: 60px;
  margin-right: 8px;
  float: left;
}
/* line 202, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#wrapper .panel .panel_footer .value {
  padding-top: 5px;
  width: 80px;
  float: left;
}

/* line 210, /users/roberto/Proyectos/invoice/app/stylesheets/_style.sass */
#chatters textarea {
  display: block;
  width: 350px;
  height: 200px;
  margin: 35px;
}
