<li data-id="${id}" class="product">
	<div class="name">
	<span>${name}</span>
	</div>
	<div class="info">
	<span  class=" m"># ${inventory}</span>
	<span  class=" m">c/ ${price}</span>
	<span  class=" s">-% ${discount}</span>
	<span  class=" s">+% ${maxDiscount}</span>
	
	</div>
	
</li>