<li data-id="${productId}" class="quote">
	<div class="name">
	
	<span class="liItem lineBig">${productName}</span>	
	</div>
	<div class="info">
	
	<input type="text"  value="${amount}" class="liInput" id="txt_amount"/>
	<input type="text"  value="${discount}" class="liInput small" id="txt_discount"/>
	<span class="liItem">${price}</span>
	
	</div>
	
	<div class="buttons">
	
	<span class="liButton"> borrar </span>
	
	</div>
	</li>