<li data-id="${productId}" class="invoice">
	
	<div class="name">
		<span class="liItem lineSmall">${clientName}</span>
		<span class="liItem l">${productName}</span>	
	</div>
	
	<div class="info">
		<span class="liItem s">c/<br/>${price}</span>
		<span class="liItem s">#<br/>${amount}</span>
		<span class="liItem s">%<br/>${discount}</span>
	</div> 	
	
	 
	
</li>